<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Past Work</title>
</head>
<%- include('./partials/nav') %>
<body>
    <h1>Past Work</h1>
    <h2>Projects</h2>
  <a href="/past-work/divideandconquer"> <h3><p>Divide and Conquer</p></h3></a>
  <a href="/past-work/mixandsip">  <h3><p>Mix and Sip</p></h3></a>
    <a href="/past-work/useroutreach"> <h3><p>User Outreach</p></h3></a>

  
</body>
</html>










  <!-- <ul>
    <% pastWork.forEach(item=> { %>
        <li>
         <h3><%= item.projectName %></h3>
          <p>Location: <%= item.location %></p>
          <p>Duration: <%= item.duration %></p>
          <p>Description: <%= item.description %></p>
        </li>
        <% }); %> -->
      </ul>